body 
{
    font-family: Arial;
}

.contenedor 
{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.caja 
{
    width: 250px;
    height: 150px;
    background-color: lightgreen;
    text-align: center;
    line-height: 150px;
}

footer 
{
    text-align: center;
    padding: 20px;
}

.contenedor 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media (max-width: 768px) 
{
    .contenedor 
	{
        grid-template-columns: 1fr;
    	}
}

